<main class="w-full md:w-full">
    <div class="bg-neutral-primary-soft block w-full p-3 border border-default rounded-base mt-4 shadow-lg">
        <div class="head flex items-center gap-3 border-b border-[#dfdfdf] pb-2">
            <div class="image-holder w-12.5">
                <img class="w-full object-contain" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="">
            </div>
            <div class="flex flex-col w-fit">
                <h2 class="font-bold mb-0 text-16">Khaled Eid</h2>
                <div class="info flex items-center gap-2">
                    <p class="mb-0 text-6">@userName</p>
                    <span>12h</span>
                </div>
            </div>
        </div>
        <div class="content py-4 mb-2 border-b border-[#dfdfdf]">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, veniam?</p>
        </div>
        <div class="reviews flex items-center justify-between mb-2">
            <div class="reacts flex items-center gap-2">
                <div class="icon flex items-center justify-center bg-amber-600 w-6 h-6 rounded-lg">
                    <i class="fa-solid fa-up-long text-white"></i>
                </div>
                <span class="block text-[#767676]">0</span>
            </div>
            <div class="reviews-stats flex items-center gap-2">
                <span class="block"><strong>0</strong> Shares</span>
                <span class="block"><strong>0</strong> Comments</span>
                <a class="block text-amber-600 cursor-pointer font-bold">View Details</a>
            </div>
        </div>
        <div class="react p-4 border-t border-[#dfdfdf]">
            <ul class="flex items-center gap-4 w-full justify-between">
                <li class="flex items-center gap-2 cursor-pointer">
                    <div class="icon flex items-center justify-center bg-amber-600 w-6 h-6 rounded-lg">
                        <i class="fa-solid fa-up-long text-white"></i>
                    </div>
                    <span>Like</span>
                </li>
                <li class="flex items-center gap-2 cursor-pointer">
                    <i class="fa-solid fa-comments text-amber-600"></i>
                    <span>Comment</span>
                </li>
                <li class="flex items-center gap-2 cursor-pointer">
                    <i class="fa-solid fa-share text-amber-600"></i>
                    <span>Share</span>
                </li>
            </ul>
        </div>
    </div>
</main>