.reviews-stats{
    font-size: 14px;
    color: #7d7d7d;
}
.react ul li {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}
.react ul li:hover{
    transition: 0.1s ease-in-out;
    background-color: #e4e3e3;
}
